<!DOCTYPE html>
<html>
	<head>
		<title>Twintelligence</title>
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<style>
			.header h3 {
			  line-height: 40px;
			  padding-bottom: 10px;
			}

			@media (min-width: 768px) {
			  .container {
			    max-width: 730px;
			  }
			}
		</style>
	</head>
  <body>
  	<div class="container">
  		<div class="header">
  			<ul class="nav nav-pills pull-right">
  				<li><a href="/">Home</a></li>
  				<li class="active"><a href="/about">About</a></li>
  				<li><a href="/contact">Contact</a></li>
  			</ul>
  			<h3 class="text-muted">Twintelligence</h3>
  		</div>
		<div class="jumbotron">
        	<h1>About</h1>
        	<p class="lead">Twintelligence is an OSINT tool. Beware of the traces you leave on the Internet. This is an alpha software.</p>
      </div>
     </div>
  </body>
</html>