<!DOCTYPE html>
<html>
	<head>
		<title>Twintelligence</title>
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<style>
			.header h3 {
			  line-height: 40px;
			  padding-bottom: 10px;
			}

			@media (min-width: 768px) {
			  .container {
			    max-width: 730px;
			  }
			}
		</style>
	</head>
  <body>
  	<div class="container">
  		<div class="header">
  			<ul class="nav nav-pills pull-right">
  				<li class="active"><a href="/">Home</a></li>
  				<li><a href="/about">About</a></li>
  				<li><a href="/contact">Contact</a></li>
  			</ul>
  			<h3 class="text-muted">Twintelligence</h3>
  		</div>
		<div class="jumbotron">
        	<h1>Twintelligence Report</h1>
        	<p class="lead">Enter a Twitter @UserName to generate the report. 
        	This is an alpha software, don't push it to hard ;)</p>
			<form class="form-inline" role="form" method="post" action="report">
	 			<div class="form-group">
	    			<label class="sr-only" for="username">Username</label>
	    			<input type="text" class="form-control" id="screen_name" name="screen_name" placeholder="@Username">
	    		</div>
	    		<div class="form-group">
	    			<label class="sr-only" for="nmtweets">nbtweets</label>
	    			<input type="text" class="form-control" id="nbtweets" name="nbtweets" placeholder="1000 tweets">
	  			</div>
	 				<button type="submit" class="btn btn-primary">Generate the report</button>
			</form>
      </div>
     </div>
  </body>
</html>